.main__Component{
    height: auto;
    width: auto;
    margin-left: 16.1rem;
    color: white;
}
.top__Section{
    background-image: linear-gradient(rgb(7, 97, 114),rgba(0,0,0,0.925)) ;
    padding: 0px;
    margin: 0px;
    padding-left: 1.6rem;
    padding-bottom: 3rem;
}
.bottom__Section{
    padding: 0px;
    margin: 0px;
    padding-left: 1.6rem;
    background-color: rgba(0, 0, 0, 0.946);
    background-image: linear-gradient(rgba(6, 38, 45, 0.244),rgba(0, 0, 0, 0.925));
    padding-bottom: 2rem;
    border: 0.01rem solid black;
}
.home__Content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: auto;
}
.home__Content1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 5.5rem
}
.card__Content__Xl{
    height: 5rem;
    width: 19.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
    background-color: rgba(88, 139, 150, 0.612);
    border-radius: 5px;
}
.card__Content__Xl:hover{
    background-color: rgba(89, 136, 145, 0.932);
    background-color: rgba(97, 151, 164, 0.865);
}
.content__Img{
    height: 5rem;
    width: 5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.content__Subheading{
    width: 10rem;
    max-height: 3rem;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.card__Content__Xxl{
    height: 17rem;
    width: 14.5rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.929) ;
}
.card__Content__Xxl:hover{
    background-color: rgba(95, 95, 95, 0.374);
    transition: 200ms ease-in-out;
    cursor: pointer;
}
.content__Img1{
    height: 10rem;
    width: 12rem;
    border-radius: 6px;
}
.content__Subheading1{
    width: 10rem;
    max-height: 3rem;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.content__Subheading2{
    width: 10rem;
    max-height: 3rem;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    color: grey;
    font-size: 0.8rem;
}
.subHeading__Wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.6rem;
    padding-top: 0.8rem;
}


/* Loader css */
.heading{
    padding: 0px;
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.home__Skeleton{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.home__Skeleton1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-bottom: 5.5rem
}
.card__Xl{
    height: 5rem;
    width: 19.6rem;
    background-color: rgba(52, 51, 51, 0.797);
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
    animation: wave 1.5s linear infinite;
}
@keyframes wave{
    50%{
    background-color: rgba(74, 72, 72, 0.797);
    }
}

.home__Img{
    height: 5rem;
    background-color: rgba(35, 34, 34, 0.797);
    width: 5rem;
}

.home_Subheading{
    width: 10rem;
    height: 1.9rem;
    border-radius: 30px;
    padding: 0px;
    margin: 0px;
    background-color: rgba(35, 34, 34, 0.797);
}
.card__Xxl{
    height: 17rem;
    width: 14rem;
    background-color: rgba(52, 51, 51, 0.797);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: wave 1.5s linear infinite;
}
.home__Img1{
    height: 10rem;
    width: 10rem;
    background-color: rgba(35, 34, 34, 0.797);
}
.home_Subheading1{
    height: 1.6rem;
    background-color: rgba(35, 34, 34, 0.797);
    width: 10rem;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0.8rem;
    border-radius: 30px;
}
.home_Subheading2{
    height: 1.6rem;
    background-color: rgba(35, 34, 34, 0.797);
    width: 10rem;
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
}
