.main__Component{
    height: 40rem;
    width: 64rem;
    margin-left: 16.1rem;
    background-color: rgba(0, 0, 0, 0.931);
    color: white;
}
.poster__Image{
    margin-left: 5rem;
    max-width: 40rem;
    max-height:45rem ;
}
.heading{
    width: 45rem;
    padding: 0px;
    margin: 0px;
    margin-left: 5rem;
}
.button{
    width: 13rem;
    height: 3rem;
    border: 0px solid black;
    outline: none;
    border-radius: 30px;
    background-color: #1db954;
    color: black;
    font-size: 1rem;
    font-weight: 680;
    letter-spacing: 0.01rem;
    margin-left:16rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
    cursor: pointer;
}